@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1F2936;
    flex: 1;
    padding: 0px 200px;
}

.awesome-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 8px;
}

.awesome-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

.awesome-button {
    background-color: #3882F6;
    font-weight: 900;
    color: #F9FAF8;
    border: none;
    box-shadow: none;
    text-decoration: none;
    padding: 8px 26px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 8px;
}

.awesome-picture {
    flex: 1;
    background-color: grey;
    height: 200px;
    width: 400px;
}

/* Second part */

.second-container {
    background-color: white;
    flex: 1;
    padding: 50px 0;
}

.box-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 50px;
}

.subtext-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    gap: 50px;
}

.empty-blue-box {
    width: 200px;
    height: 200px;
    border: solid #3882F6;
    border-radius: 20px;
}

.random-info-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.subtext {
    width: 200px;
}


/* Third part */

.third-container {
    background-color: #E5E7EB;
    flex: 1;
}

.fourth-container {
    background-color: white;
    flex: 1;
}

.fifth-container {
    background-color: #1F2936;
    flex: 1;
}

.container {
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    padding-top: 10px;
}

.container-logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.container-links {
    display: flex;
    flex: 1;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: flex-end;
}

.low-header {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 100px;
}

.low-header-child {
    flex: 1;
}

.low-header-child-picture {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.awesome-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}