@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Header Section */

.header {
    background-color: #1F2936;
    flex: 1;
    padding: 0px 200px;
}

.navbar {
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    padding-top: 10px;
}

.navbar-logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.navbar-links {
    display: flex;
    flex: 1;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: flex-end;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 100px;
}

.hero-child {
    flex: 1;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 8px;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

.hero-sign-up-button {
    background-color: #3882F6;
    font-weight: 900;
    color: #F9FAF8;
    border: none;
    box-shadow: none;
    text-decoration: none;
    padding: 8px 26px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 8px;
}

.hero-picture-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.hero-picture {
    flex: 1;
    background-color: grey;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Some Random Information Section */

.some-random-information-container {
    background-color: white;
    flex: 1;
    padding: 50px 0;
}

.some-random-information-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.row-of-images-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 50px;
}

.image-box {
    width: 200px;
    height: 200px;
    border: solid #3882F6;
    border-radius: 20px;
}

.images-captions-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    gap: 50px;
}

.image-caption {
    width: 200px;
}

/* Quote Section */

.quote-section-container {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

/* Call to Action Section */

.call-to-action-container {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    justify-content: space-between;
    font-size: 24px;
    padding: 40px 120px;
    margin: 100px 0;
    gap: 16px;
    flex: 1;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.call-to-action-header {
    font-weight: 900;
}

.call-to-action-sign-up-button {
    background-color: #3882F6;
    font-weight: 900;
    color: #F9FAF8;
    border: #F9FAF8 solid;
    padding: 0 80px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 900;
}

/* Footer Section */

.footer-container {
    background-color: #1F2936;
    flex: 1;
}

.copyright-text {
    text-align: center;
    padding: 40px 0;
    color: #F9FAF8;
}
